.tiptap p {
  line-height: 2;
}

.tiptap ul {
  list-style-type: disc;
}

.tiptap ol {
  list-style-type: decimal;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #958d90;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
